.videoplayer {

    &-container {
        position: relative;
        width: 40%;
    }

    &-one {
        width: 100%;
    }

    &-two {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}