@use '../style/variables.scss' as *;
@use '../style/mixins.scss' as *;

.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;

        &-label {
            @include default-label;
        }

        &-input {
            @include default-input;
        }

        &-button {
            @include default-button;
        }
    }

    &__signup {
        color: $text;
    }

}