

.signup {
    &__form {
        display: flex;
        flex-direction: column;

        &-input {
            max-width: 150px;
            margin-top: 2rem;
        }

        &-button {
            max-width: 150px;
        }
    }

}