@use '../style/variables.scss' as *;
@use '../style/mixins.scss' as *;

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-input{
            @include default-input;
        }

        &-label {
            @include default-label;
        }

        &-submit {
            @include default-button;
        }
    }

    &__signup{
        color: $text;
    }
}